body.theme-dark {
    --background-color-1: #262626;
    --background-color-2: #3b3b3b;
    --icon-filter: invert(80%);
    --text-color-2: #ababab
}
body.theme-light {
    --background-color-1: #FFFFFF;
    --background-color-2: #f3f6f4;
     --icon-filter: invert(60%);
    --text-color-2: #818181
}
/* START OF BODY */
body {
    background-color: var(--background-color-1);

    @media (max-width: 1000px) {
        padding-left: 24px !important;
        padding-right: 24px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .notelink {
        img {
            height: 16px;
            width: auto;
        }
        margin-right: 8px;
    }

    /* START OF cm-s-obsidian */
    .cm-s-obsidian {
        header {
            margin-bottom: 1.8em;
        }

        .timestamps {
            display: flex;
            flex-direction: row;
            font-size: 0.8em;
            color: var(--text-muted);
            gap: 10px;
            margin-top: 20px;
            div {
                display: flex;
                flex-direction: row;
                gap: 3px;
                align-items: center;
            }
        }

        p {
            font-size: 16px;
            margin-block-start: 0.25em;
        }

        ul {
            list-style-position: outside;
            margin-block-start:0.25em;
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 16px;
            padding-left: 0;
            text-indent: 0;

        }

        li.task-list-item {
            div.list-bullet {
            }
            list-style-position: outside;
            padding-top: 1.2px;
            padding-bottom: 1.2px;
            margin-left: 0;
            padding-left: 16px;
            text-indent: -26px;
        }
        div.block-language-dataview {
            max-height: 10em;
            table {
                margin-block-start: 0;
                margin-block-end: 1em; 
                th {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: var(--background-color-2);
                    color: var(--text-color-2);
                }
                tr {
                    height: 26.2px;
                    line-height: 18px;
                }
                td {
                    white-space: nowrap;
                 .internal-link::before {
                        display: none;
                    }
                }
            }
        }

        header {
            margin-block-end:1.5em;
        }

        h1 {
            font-size: 22px;
            font-weight: 600;
            margin-block-top:36px;
            margin-block-end:0.25em;
        }
        h2 {
            font-size: 20px;
            font-weight: 600;
            margin-block-top:33.6px;
            margin-block-end:0.25em;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-block-top:32px;
            margin-block-end:0.25em;
        }
        h4 {
            font-size: 16px;
            font-weight: 600;
            margin-block-top:28.8px;
            margin-block-end:0.25em;
        }
        h5 {
            font-size: 15px;
            font-weight: 600;
            margin-block-top:27.2px;
            margin-block-end:0.25em;
        }
        h6 {
            font-size: 14px;
            font-weight: 600;
            margin-block-top:27.2px;
            margin-block-end:0.25em;
        }

    }
    /* END OF cm-s-obsidian */

    /* START OF nav.filetree-sidebar*/
    nav.filetree-sidebar {
        top: 85px;
        left: 20px;
        position: fixed;
        height: calc(100% - 160px);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow-x: hidden;

        .search-button {
            margin: 10px;
            min-width: 160px;
            margin-bottom: 20px;
        }

        & > .folder {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: -10px;
        }
        .notelink {
            border-radius: 10px;
            padding: 2.5px 0 2.5px 24px;

            a::before {
                margin-right: 2px;
            }
        }

        .notelink.active-note {
            transform: unset;
        }

        .fa-sticky-note {
            display: none;
        }

        h1::before {
            content: " ";
            display: block;
            width: 100%;
            height: 3em;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/img/logo.svg);
            background-position: center;
        }
    }
    /* END OF nav.filetree-sidebar*/

    /* START OF nav.navbar */
    nav.navbar {
        top: 10px;
        right: 10px;
        left: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
        border: var(--cards-border-width) solid var(--background-modifier-border);
        z-index: 99999;
        background-color: var(--background-color-2);
        .navbar-inner {
            h1::before {
                content: " ";
                display: inline-block;
                width: 1em;
                height: 1.2em;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(/img/logo.svg);
                margin-right: 5px;
                background-position: bottom;
                filter: var(--icon-filter) !important;

            }
@media (max-width: 1000px) {
                    //width: 2em;
                }

            span {
                margin-left: 10px;
            }
        }

        .search-button {
            border-radius: 10px;
            @media (max-width: 1000px) {
                margin-right: 10px;
            }
        }
    }
    /* END nav.navbar */

    /* START OF sidebar */
    .sidebar {
        .sidebar-container {
            & > div:not(.graph) {
                width: 320px;
                max-height: 365px;
                overflow-y: auto;
            }
            @media (max-width: 1000px) {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
            }

            .backlinks {
                flex: unset;
                @media (max-width: 1000px) {
                    order: 2;
                }
            }

            .graph {
                flex: unset;
                @media (max-width: 1000px) {
                    order: 3;
                    margin-bottom:60px;

                }
            }
        }
    }
    /* END OF sidebar */

    div.giscus {
        display: block;
        margin-top: 20px;
        margin-left: 15%;
        margin-right: 15%;
        max-width: 70%;
        align: center;
        @media (max-width: 1000px) {
            margin-left: 5px;
            margin-right: 5px;
            max-width: 100%;
            width: 100%;
        }
    }

    /* START OF floating-control */
    #floating-control {
        position: fixed;
        color: var(--link-color);
        bottom: 1vmax;
        right: 1vmax;
        font-size: 24px;
        z-index: 999999;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;

        .svg-icon,
        i {
            cursor: pointer;
            height: 24px;
            width: auto;
        }

        #theme-switch {
            .light {
                display: none;
            }

            .dark {
                display: none;
            }

            .auto {
                display: none;
            }
        }

        #theme-switch.light {
            .light {
                display: inline;
            }
        }

        #theme-switch.dark {
            .dark {
                display: inline;
            }
        }

        #theme-switch.auto {
            .auto {
                display: inline;
            }
        }
    }
    /* END OF floating-control */

    .referred {
        border: 1px dashed;
        border-color: var(--text-accent);
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .align-icon {
        display: inline-flex;
        align-items: center;
    }
    .fullpage-overlay {
        position: fixed;
    }
}
/* END OF BODY */