body.theme-dark {
    --text-accent: #006f8b;
    --text-accent-hover: #0084a5;
    --interactive-accent: #006f8b;
    --h1-color: var(--interactive-accent);
}
body.theme-light {
    --text-accent: #004d61;
    --text-accent-hover: #006f8b;
    --interactive-accent: #004d61;
    --h1-color: var(--interactive-accent);
}

body {
	.timestamps {
		display: flex;
		flex-direction: row;
		font-size: 0.8em;
		color: var(--text-muted);
		gap: 10px;
		margin-top: 20px;

		div {
			display: flex;
			flex-direction: row;
			gap: 3px;
			align-items: center;
		}
	}

    .giscus-frame {
    	display: flex;
		flex-direction: row;
    }

	nav.filetree-sidebar {
		h1::before {
			content: " ";
			display: block;
			width: 100%;
			height: 3em;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(/img/logo.svg);
			background-position: center;
		}
	}


	#floating-control {
		position: fixed;
		color: var(--link-color);
		bottom: 1vmax;
		right: 1vmax;
		font-size: 24px;
		z-index: 999999;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 10px;

		.svg-icon,
		i {
			cursor: pointer;
			height: 24px;
			width: auto;
		}

		#theme-switch {
			.light {
				display: none;
			}

			.dark {
				display: none;
			}

			.auto {
				display: none;
			}
		}

		#theme-switch.light {
			.light {
				display: inline;
			}
		}

		#theme-switch.dark {
			.dark {
				display: inline;
			}
		}

		#theme-switch.auto {
			.auto {
				display: inline;
			}
		}
	}
