body.filetree-note-icon .filename[data-note-icon="dice"]::before, body.links-note-icon .internal-link[data-note-icon="dice"]::before, body.backlinks-note-icon .backlink[data-note-icon="dice"]::before {
  background-image: url(/img/dice.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="dice_bw"]::before, body.links-note-icon .internal-link[data-note-icon="dice_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="dice_bw"]::before {
  background-image: url(/img/dice_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="event"]::before, body.links-note-icon .internal-link[data-note-icon="event"]::before, body.backlinks-note-icon .backlink[data-note-icon="event"]::before {
  background-image: url(/img/event.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: -0.3rem;

}
body.filetree-note-icon .filename[data-note-icon="event_bw"]::before, body.links-note-icon .internal-link[data-note-icon="event_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="event_bw"]::before {
  background-image: url(/img/event_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: -0.3rem;

}
body.filetree-note-icon .filename[data-note-icon="group"]::before, body.links-note-icon .internal-link[data-note-icon="group"]::before, body.backlinks-note-icon .backlink[data-note-icon="group"]::before {
  background-image: url(/img/group.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="group_bw"]::before, body.links-note-icon .internal-link[data-note-icon="group_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="group_bw"]::before {
  background-image: url(/img/group_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="item"]::before, body.links-note-icon .internal-link[data-note-icon="item"]::before, body.backlinks-note-icon .backlink[data-note-icon="item"]::before {
  background-image: url(/img/item.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="item_bw"]::before, body.links-note-icon .internal-link[data-note-icon="item_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="item_bw"]::before {
  background-image: url(/img/item_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="location"]::before, body.links-note-icon .internal-link[data-note-icon="location"]::before, body.backlinks-note-icon .backlink[data-note-icon="location"]::before {
  background-image: url(/img/location.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: -0.3rem;
}
body.filetree-note-icon .filename[data-note-icon="location_bw"]::before, body.links-note-icon .internal-link[data-note-icon="location_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="location_bw"]::before {
  background-image: url(/img/location_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: -0.3rem;

}
body.filetree-note-icon .filename[data-note-icon="lore"]::before, body.links-note-icon .internal-link[data-note-icon="lore"]::before, body.backlinks-note-icon .backlink[data-note-icon="lore"]::before {
  background-image: url(/img/lore.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="lore_bw"]::before, body.links-note-icon .internal-link[data-note-icon="lore_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="lore_bw"]::before {
  background-image: url(/img/lore_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="npc"]::before, body.links-note-icon .internal-link[data-note-icon="npc"]::before, body.backlinks-note-icon .backlink[data-note-icon="npc"]::before {
  background-image: url(/img/npc.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="npc_bw"]::before, body.links-note-icon .internal-link[data-note-icon="npc_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="npc_bw"]::before {
  background-image: url(/img/npc_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
body.filetree-note-icon .filename[data-note-icon="player"]::before, body.links-note-icon .internal-link[data-note-icon="player"]::before, body.backlinks-note-icon .backlink[data-note-icon="player"]::before {
  background-image: url(/img/player.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: -0.1rem;

}
body.filetree-note-icon .filename[data-note-icon="player_bw"]::before, body.links-note-icon .internal-link[data-note-icon="player_bw"]::before, body.backlinks-note-icon .backlink[data-note-icon="player_bw"]::before {
  background-image: url(/img/player_bw.svg);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: -0.1rem;

}

