<script>
  let giscusTheme = localStorage.getItem("site-theme");
  let giscusAttributes = {
    "src": "https://giscus.app/client.js",
    "data-repo": "galzy/pf2",
    "data-repo-id": "R_kgDOLAXcgA",
    "data-category": "Announcements",
    "data-category-id": "DIC_kwDOLAXcgM4CcPuI",
    "data-mapping": "pathname",
    "data-reactions-enabled": "1",
    "data-emit-metadata": "0",
    "data-theme": giscusTheme,
    "data-lang": "en",
    "crossorigin": "anonymous",
    "async": "",
  };

  let giscusScript = document.createElement("script");
  Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
  document.body.appendChild(giscusScript);
</script>
